#!/usr/bin/env bash
set -e
set -u
set -o pipefail

declare APPS
APPS=(${DEBIAN_FLATPAK_PACKAGES})

for app in "${APPS[@]}"; do
  flatpak --system --assumeyes --noninteractive --or-update install flathub ${app}
done
