[Unit]
Description=automatic timezone determination script
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/iksdp/bin/determine_timezone.sh

[Install]
WantedBy=multi-user.target